@{
    ViewData["Title"] = "AddProduct";
}
<form>
    <button class="btn btn-outline-primary" asp-area="" asp-action="Add" asp-controller="Category">Добавить Категорию</button>
    <button class="btn btn-outline-primary" asp-area="" asp-action="Add" asp-controller="SubCategory">Добавить Подкатегорию</button>
    <button class="btn btn-outline-primary" asp-area="" asp-action="Add" asp-controller="Product">Добавить Товар</button>
</form>