@{
    ViewData["Title"] = "AddProduct";
}
<form>
    <button class="btn btn-outline-secondary" asp-area="" asp-action="Add" asp-controller="Category">Добавить Категорию</button>
    <button class="btn btn-outline-secondary" asp-area="" asp-action="Add" asp-controller="SubCategory">Добавить Сататус Заказа</button>
    <button class="btn btn-outline-secondary" asp-area="" asp-action="Add" asp-controller="Product">Добавить Заказ</button>
</form>